* { margin: 0px; padding: 0px; box-sizing: border-box; overflow: hidden; }
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#myCanvas {
	position: fixed;
	top:0;
	left:0;
	z-index:-1;
}

#sidebar {
	position: fixed;
	top:0;
	left:0;
	background-color: #fff;
	height: 100vh;
	width: 230px;
	-webkit-box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	padding: 10px;
	overflow-y: auto;
}

#sidebarComboResult {
	display: none;
	position: fixed;
	top:0;
	left:0;
	background-color: #fff;
	height: 100vh;
	width: 230px;
	-webkit-box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	padding: 10px;
	overflow-y: auto;
}

#sidebarBestResult {
	display: none;
	position: fixed;
	top:0;
	left:0;
	background-color: #fff;
	height: 100vh;
	width: 230px;
	-webkit-box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	padding: 10px;
	overflow-y: auto;
}

#sidebarComboResult > button {
	margin-right: 4px;
}

.nodebtn {
	width: 200px;
	margin: 8px 0 0 0;
	padding: 4px 0px;
	padding-left: 10px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid black;
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}
.searchInput {
	width: 90px;
	margin-right: 4px;
}
.searchBtn {
	width: 66px;
	cursor: pointer;
}
.cur {
	margin: 10px 0px;
}
#ignorefilters, #comboFilters, #bestFilters {
	display: none;
	position: fixed;
	top: 0;
	left: 230px;
	background-color: #fff;
	height: 100vh;
	width: 430px;
	-webkit-box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
	z-index: 1;
	overflow-y: scroll;
}

.filtertable input {
	margin: 2px 7px;
}
#filtertoggle {
	margin: 10px 10px 0 0;
}

#comboFilters > div{
	margin: 5px 0;
}
#comboSocketsFilterList > div > button, #comboSkillsFilterList > div > button {
	margin: 0 10px 0 0;
}

#comboFilters > select, #comboSkillAmount {
	margin-right: 5px;
}
#comboFilters button {
	margin-right: 5px;
	padding: 0 4px;
}
#comboResult > div, #bestResult > div {
	border: 1px solid #ccc;
	cursor: pointer;
	margin-top: 6px;
	font-size: 15px;
	padding: 2px;
	white-space: nowrap;
}
#comboResult .combochoosed, .cursocket {
	background: #e0a3a3;
	background: -moz-linear-gradient(left, #e0a3a3 0%, #ffffff 100%);
	background: -webkit-linear-gradient(left, #e0a3a3 0%,#ffffff 100%);
	background: linear-gradient(to right, #e0a3a3 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a3a3', endColorstr='#ffffff',GradientType=1 );
}

.bestchoosed {
	background: #e0a3a3;
	background: -moz-linear-gradient(left, #e0a3a3 0%, #ffffff 100%);
	background: -webkit-linear-gradient(left, #e0a3a3 0%,#ffffff 100%);
	background: linear-gradient(to right, #e0a3a3 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a3a3', endColorstr='#ffffff',GradientType=1 );
}

#bestFilters > * {
	margin: 5px;
}
#bestFilters .best_input {
	margin-right: 5px;
	width: 30px;
}